.footer{
    text-align: center;
}

.footer .share{
    padding: 1rem 0;

}

.footer .share img{
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover{
    background-color: var(--main-color);
}
